#########################################################################################
##  Project    : Collect of various scripts for working with EDA-tools (ASIC/FPGA/etc) ##
##  Link       : https://github.com/iDoka/eda-scripts                                  ##
##  Description: .gitignore                                                            ##
##  License    : MIT                                                                   ##
#########################################################################################

# Logs / reports
*.log
*.jou
*.rpt
*.str
*.vdi
webtalk.*
hs_err_pid*
vivado_pid*.str

# Bitstreams / images
*.bit
*.bin
*.mcs
*.svf
*.image

# Netlists / generated outputs
*.edf
*.edif
*.vn
*.vm
*.sdf
*.dcp

# Simulation / dumps
*.vcd
*.wdb
*.saif
*.tcf
xelab.*
xsim.*
xvlog.*

# Xilinx runtime / cache
.Xil/
.cache/
*.cache
*.runs
*.sim
*.hw

# Vivado generated directories anywhere in repo
**/.Xil/
**/ip_user_files/
**/*.ip_user_files/
**/cache/
**/runs/
**/sim/
**/hw/

# Vivado project generated folders
**/*.cache/
**/*.runs/
**/*.sim/
**/*.hw/

# Temporary / backup / debug
fsm_encoding.os
tab_*/
*.backup.*
*.debug

# Optional generated stubs / netlists
*_sim_netlist.v
*_sim_netlist.vhdl
*_stub.v
*_stub.vhdl
